@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'custom';
    src: url('type4.woff2');
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #131313; 
  }
  
  html, body, #root {
    height: 100%;
  }
  
